#
# file & directory to ignore
#

# executables
[Rr]elease/*
[Dd]ebug/*

# mais garder les exec bin & hex
!/Release/*.hex
!/Release/*.bin
!/Release/*.binary
!/Debug/*.hex
!/Debug/*.bin
!/Debug/*.binary

# Atollic setting
.settings/
.code_review_properties
!.project
!.cproject
!.mxproject

# MCU particular files
*.ld
*.launch
/startup/

# STMicroelectronic drivers
# save drivers & middleware because some differneces when upgraded


# project specifics files (personnal notes & debug helper)
*.txt
*.log
!*.bat

# mais garder
!Notes.txt
!*.png


# me versionner moi-meme
!.gitignore

# That's all folks!
