#
# file & directory to ignore
#

# executables
[Rr]elease/*
[Dd]ebug/*

# mais garder les exec bin & hex
!/Release/*.hex
!/Release/*.bin
!/Release/*.binary
!/Debug/*.hex
!/Debug/*.bin
!/Debug/*.binary

# Atollic setting
.settings/
!.project
!.cproject
!.mxproject

# MCU particular files
*.ld
*.launch
/startup/

# STMicroelectronic drivers
# a chacun d'utilser les siens
/Drivers/

# project specifics files (personnal notes & debug helper)
*.txt
*.log
*.png
*.bat

#mais garder
!Notes.txt
!STM-readme-DataLogExtended.txt
!STM-readme-DataLogTerminal.txt

# me versionner moi-meme
!.gitignore

# That's all folks!
